.container--title-institucional {
  justify-content: center;
  background: #805916;
  border-radius: 31px;
  margin-top: 4rem;
  justify-content: center;
  width: auto;
  padding: 1rem 4rem;
  margin-bottom: 3rem;
}

.wrapper--title-institucional .headingLevel1 {
  color: #fff;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: 700;
}

.wrapper--text-institucional {
  margin-bottom: 4rem;
}
