.flexRow--mosaico-topo-m3 :global(.vtex-store-components-3-x-container),
.flexRow--mosaico-topo-m2 :global(.vtex-store-components-3-x-container) {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.flexRow--mosaico-topo-m3 :global(.vtex-store-components-3-x-imageElement),
.flexRow--mosaico-topo-m2 :global(.vtex-store-components-3-x-imageElement) {
  width: 100%;
  height: 100%;
}
.flexCol--imagem-mosaico-left .flexColChild--imagem-mosaico-left:last-child,
.flexCol--mosaico-right-wrapper .flexColChild--mosaico-right-wrapper:last-child {
  margin-top: 4px;
}

.flexCol--imagem-mosaico-left, .flexCol--imagem-mosaico2-right {
  margin-right: 3px;
}
