.flexRowContent--menu-link {
  padding: 0 .5rem;
}

.flexRowContent--main-header {
  padding: 0 !important;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #AB3E00;
  color: #fff;
}

.flexRow--main-header {
  background-color: #cfa22b;
  padding: 0.4rem 2rem;
  padding-bottom: 0;
}

.flexRowContent--main-header {
  border-bottom: 1px solid #ffffff85;
  box-shadow: unset !important;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0 0.5rem;
  background-color: #cfa22b;
}

:global(.vtex-sticky-layout-0-x-container--novo-sticky) .flexRowContent--main-header {
  border: 0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}

.flexRow--bannerfinal {
  margin-bottom: 4rem;
}

.flexRowContent--bannerblog {
  text-align: center;
}

/* Categorias */

.flexRow--wrapper__categories {
  background-color: #cfa22b;
}

.flexRow--deals {
  padding: 1.5rem 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--box-deal {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  padding: 1.5rem 1rem;
  width: 189px;
  height: 150px;
  display: flex;
  align-items: center;
  position: relative;
}

 .flexRow--box-deal::before {
  content: '';
  width: 1px;
  height: 70px;
  background: #00000029;
  position: absolute;
  left: 34%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

@media (max-width: 1230px) {
  .flexRow--box-deal {
    width: 200px;
    height: 110px;
  }
}

@media (max-width: 1180px) {
  .flexRow--box-deal {
    width: 180px;
    height: 110px;
  }
}


.flexRowContent--deals {
  justify-content: center;
}

.flexRowContent--box-deal {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

/* Titulos Grid */
.flexRowContent--wrapper-title-grid {
  background-color: #000;
  margin: 4rem 0 3rem 0;
  justify-content: center;
  border-radius: 0;
}

.container--titulo-grid {
  justify-content: center;
}

.flexRow--wrapper-title-grid :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: auto !important;
}

.flexRow--buttons_buy .flexColChild--wrapper__button-buy :global(.vtex-button__label) {
  padding: 9px 16px !important;
}

.flexRow--buttons_buy :global(.vtex-add-to-cart-button-0-x-buttonText) {
  max-width: 90px;
}

.flexRowContent--mosaico-meio-modelo2 .flexColChild--mosaico-right-wrapper {
  line-height: 0;
}

.flexRowContent--mosaico-meio-modelo2 .flexColChild--mosaico-right-wrapper :global(.vtex-store-components-3-x-imageElement) {
  width: 100%;
}

.flexRowContent--mosaico-meio-modelo2 .flexRow--linha2-bottom {
  position: relative;
  top: 0;
}

.flexRowContent--mosaico-meio-modelo2 .flexColChild--mosaico-right-wrapper .flexColChild {
  overflow: hidden;
}

.flexRow--mosaico-meio-wrapper-modelo3 {
  margin-top: 2rem;
}

/* .flexColChild--wrapper__button-buy :global(.botao-comprar) {
  display: none;
} */

/* Mosaicos Meio */

.flexCol--mosaico-right-wrapper {
  text-align: right;
}

@media only screen and (max-width: 1440px) and (min-width: 1316px)  {
  /* .flexCol--mosaico-right-wrapper {
    line-height: 0;
    padding-left: 1.3rem;
  } */

  .flexRow--box-deal {
    width: 210px;
  }
}

@media only screen and (max-width: 1315px) and (min-width: 1024px)  {
  /* .flexCol--mosaico-right-wrapper {
    line-height: 0;
    padding-left: 1.2rem;
  } */

  .flexRow--box-deal {
    width: 210px;
  }
}

.flexRow--mosaico-meio-wrapper,
.flexRow--mosaico-meio2-wrapper {
  margin-top: 2rem;
  margin-bottom: 0;
}

.flexRow--mosaico-meio-wrapper {
  margin-top: 0;
}

.flexRow--linha2-bottom {
  position: relative;
  top: 0rem;
}

.flexCol--imagem-mosaico2-left {
  padding-right: 1rem;
}

.flexCol--imagem-mosaico2-right {
  padding-left: 1rem;
}

.flexCol--imagem-mosaico-left,
.flexCol--imagem-mosaico2-right {
  max-width: 100%;
  overflow: hidden;
}

.flexRowContent--azul-wrapper .flexColChild--mosaicoazul {
  padding: 3px;
}

.flexRowContent--azul-wrapper {
  margin-top: 2rem;
  flex-direction: row-reverse;
}

.flexRowContent--azul-wrapper :global(.vtex-store-components-3-x-imageElement) {
  width: 100%;
  height: 100%;
}

/* Ícones Redes Sociais */

.flexColChild--box-icone-social {
  display: flex;
  align-items: center;
}

.flexRow--bannerblog {
  margin-top: 0rem;
  margin-bottom: 4rem;
}

/* Marcas */

.flexCol--fretebox {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #D0D0D0;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.flexRowContent--wrapper-frete {
  justify-content: space-between;
}

.flexCol--fretebox :global(.vtex-button__label) {
  font-weight: 600;
  font-size: 14px;
  text-transform: initial;
  width: 200px;
}

.flexCol--fretebox :global(.vtex-button) {
  background: #AB3E00 0% 0% no-repeat padding-box;
  border-radius: 13px;
  border: unset;
}

/* Sobre Nós */

.flexRow--area-sobre {
  background-color: #EEE;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 4rem;
  display: none;
}

.flexCol--descricao-loja {
  padding-left: 2.5rem;
}

/* Carrossel de Marcas */

.flexColChild--box-img-marcas {
  height: 80px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Newsletter */

.flexRow--wrapper-newsletter {
  background-color: #CFA22B;
  padding: 3rem 0;
}

.flexRowContent--wrapper-newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.flexRow--menu-row {
  max-width: 1200px;
  margin: auto;
  z-index: 2;
  position: relative;
}

.flexColChild--col-selos-footer {
  height: auto !important;
}

/* Copyrights */

.flexRow--copyrights {
  max-width: 1200px;
  margin: auto;
  border-top: 1px solid #979797;
  margin-top: 2rem;
}

.flexCol--copyimg {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.flexColChild--copyimg {
  height: auto !important;
  display: flex;
}

.flexRow--minicart-footer {
  box-shadow: unset;
}

.flexColChild--wrapper__button-buy :global(.vtex-button):disabled {
  display: none;
}

.flexColChild--wrapper__button-buyToCart :global(.vtex-button):disabled {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  transform: translate(-50%);
  bottom: 0.5rem;
  width: 50%;
}
.flexRowContent--buttons_buy :global(.vtex-button) {
  background: #6A8124;
    border-color: #6A8124;
}

.flexRowContent--buttons_buy :global(.vtex-button):disabled {
  background-color: #f2f4f5;
  border-color: #f2f4f5;
}

.flexRowContent--row-list-price {
  height: 20px;
}

.flexColChild--wrapper__button-buy .vtex-button:hover {
  background-color: #000;
  border: 1px solid #000;
}

@media only screen and (max-width: 1024px) and (min-width: 500px) {
  .flexRowContent--logo__mobile {
    background-color: #cfa22b;
  }

  .flexRowContent--main-header-mobile {
    justify-content: center;
  }
}

