.container {
  background-color: #cfa22b;
}

.departmentLink {
  text-transform: uppercase;
  color: #fff;
  margin-right: 1rem;
  margin-left: 1rem;
}

.itemContainer--department {
  position: relative;
}

.departmentList {
  overflow: inherit;
  position: relative;
  top: 0rem;
  height: 65px;
}

.itemContainer--category {
  z-index: 2;
  width: 700px;
  left: 1rem;
  padding-bottom: 7rem;
  top: 3.6rem !important;
  max-height: unset;
  min-height: 180px;
  padding-top: 1rem;
  border: unset;
  z-index: 1000;
}

.itemContainer--department:nth-child(5n) .itemContainer--category,
.itemContainer--department:nth-child(6n) .itemContainer--category,
.itemContainer--department:nth-child(7n) .itemContainer--category {
  left: unset;
  right: 1rem;
}

.itemContainer--department:nth-child(8n),
.itemContainer--department:nth-child(9n),
.itemContainer--department:nth-child(10n),
.itemContainer--department:nth-child(11n),
.itemContainer--department:nth-child(12n),
.itemContainer--department:nth-child(13n),
.itemContainer--department:nth-child(14n),
.itemContainer--department:nth-child(15n),
.itemContainer--department:nth-child(16n),
.itemContainer--department:nth-child(17n),
.itemContainer--department:nth-child(18n) {
  display: none;
}

.itemContainer--category::after {
  content: '';
  width: 171px;
  height: 46px;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  background-image: url(assets/imgs/header/menu-icon.svg);
  background-repeat: no-repeat;
}

.itemContainer--category::before {
  content: '';
  width: 250px;
  height: 380px;
  position: absolute;
  right: -250px;
  top: 0;
  background-image: url(/assets/vtex/assets-builder/dcorp.store-theme/5.0.0/imgs/header/banner-lateral-menu___7a8e060….png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.departmentList .itemContainer--department:nth-child(2n) .itemContainer--category::before {
  background-image: url(assets/imgs/categoria/categoria-propetz/maquinas-de-tosa-banner-categoria.jpg);
}

.departmentList .itemContainer--department:nth-child(3n) .itemContainer--category::before {
  background-image: url(assets/imgs/categoria/categoria-propetz/laminas-de-tosa-banner-categoria.jpg);
}

.departmentList .itemContainer--department:nth-child(4n) .itemContainer--category::before {
  background-image: url(assets/imgs/categoria/categoria-propetz/tesoura-de-tosa-banner-categoria.jpg);
}

.departmentList .itemContainer--department:nth-child(5n) .itemContainer--category::before {
  background-image: url(assets/imgs/categoria/categoria-propetz/tesoura-de-tosa-banner-categoria.jpg);
}

.departmentList .itemContainer--department:nth-child(6n) .itemContainer--category::before {
  background-image: url(assets/imgs/categoria/categoria-propetz/guias-de-contenao-banner-categoria.jpg);
}

.departmentList .itemContainer--department:nth-child(7n) .itemContainer--category::before {
  background-image: url(assets/imgs/categoria/categoria-propetz/acessorios-banner-categoria.jpg);
}

.itemContainer--department:nth-child(7n) .itemContainer--category::before {
  right: unset;
  left: -250px;
}

.firstLevelLink {
  color: #292929;
  font-weight: 700;
}

.secondLevelLink {
  color: #292929;
}

/* .departmentList .itemContainer:first-child {
  order: 999999;
} */

.departmentList .itemContainer:first-child .itemContainer--category {
  width: 1340px;
  left: unset;
  right: 0;
}

.departmentList .itemContainer:first-child .submenuList {
  columns: 4;
}

.departmentList .itemContainer:first-child .itemContainer--category::before {
  display: none;
}

.itemContainer--department::after {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #2929293d;
  display: none;
  z-index: 999;
}

/* .itemContainer--department:hover::after {
  display: block;
} */

.departmentList .itemContainer:first-child .departmentLink {
  background-color: #805916;
  text-align: center;
  padding-left: 1.8rem;
  padding-right: 0.8rem;
  letter-spacing: 0.6px;
  border-radius: 12px;
  position: relative;
  color: #805916;
  margin: 0;
}

.departmentList .itemContainer:first-child .departmentLink::before {
  content: '';
  width: 20px;
  height: 16px;
  position: absolute;
  left: 1rem;
  top: 1rem;
  background-image: url(assets/imgs/header/bar-menu-choyer.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.departmentList .itemContainer:first-child .departmentLink::after {
  content: 'TODAS AS\A CATEGORIAS';
  width: 120px;
  position: absolute;
  right: 1rem;
  top: 0.6rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  font-size: 14px;
  white-space: pre-wrap;
}

.departmentList .itemContainer:first-child {
  order: 8;
}

.submenuList {
  display: block;
  columns: 2;
}

.firstLevelList {
  padding-left: 0;
}

.submenuItem {
  width: 100%;
}

@media (max-width: 1536px) {
  .section--category {
    margin: unset !important;
  }
}

@media (max-width: 1380px) {
  .departmentLink {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  .menuIcon {
    color: #fff;
  }
}

@media (max-width: 1580px) {
  .departmentList .itemContainer:first-child .itemContainer--category {
    max-width: 1100px;
  }
}

@media (max-width: 1300px) {
  .departmentList .itemContainer:first-child .itemContainer--category {
    max-width: 1020px;
  }
}

@media (max-width: 1280px) {
  .departmentLink {
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    font-size: 11px;
  }

  .departmentList .itemContainer:first-child .departmentLink::after {
    width: 80px;
    right: 1rem;
    top: 0.6rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    font-size: 11px;
    white-space: pre-wrap;
  }

  .departmentList .itemContainer:first-child .departmentLink {
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }

  .departmentList .itemContainer:first-child .departmentLink::before {
    width: 17px;
    height: 12px;
    left: 0.7rem;
  }

  .departmentList .itemContainer:first-child .itemContainer--category {
    max-width: 915px;
  }


}
