@media (max-width: 991px) {
  .flexRow--wrapper-dealsmobile {
    background-color: #fff;
    padding: 1.5rem 0px;
    margin-bottom: 3rem;
  }


}

@media (max-width: 600px) {
  .flexRowContent--linha1-topo,
  .flexRowContent--linha2-bottom {
    display: block;
  }
}

@media (max-width: 575px) {
  .flexColChild--col-selos-footer {
    text-align: center;
  }

  .flexRow--social-elevage {
    margin: auto;
  }

  .flexCol--copyimg {
    justify-content: center !important;
  }

  .flexRowContent--wrapper-title-grid {
    margin: 1rem 0 2rem 0;
  }

  .flexRowContent--main-header-mobile {
    justify-content: space-between;
  }

  .flexCol--container-minicart-related {
    display: none;
  }

  .flexRowContent--main-header-mobile :global(.vtex-category-menu-2-x-sidebar) {
    background-color: #cfa22b;
    padding: 2rem;
  }

  .flexRowContent--main-header-mobile :global(.vtex-category-menu-2-x-sidebarItemContainer) {
    font: normal normal normal 13px/20px Montserrat !important;
    color: #FFFFFF;
    border-bottom: 1px solid #fff;
    padding: 1rem 0;
  }

  .flexRow--copyrights {
    max-width: 100%;
    border-top: 0;
    margin-top: 0rem;
  }

  .flexColChild--minicart-qty-selector :global(.vtex-product-list-0-x-quantitySelectorWrapper) {
    padding: 8px 3px;
  }

  .flexColChild--minicart-qty-selector :global(.vtex-product-list-0-x-quantitySelectorButton) {
    width: 8px;
  }

  .flexRow--linha2-bottom {
    top: 0;
  }

  .flexRow--mosaico-meio-wrapper,
  .flexRow--mosaico-meio2-wrapper {
    margin-bottom: 2rem;
  }

  .flexColChild--wrapper__button-buyToCart :global(.vtex-button):disabled {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    transform: translate(-50%);
    bottom: -1rem;
    width: 100%;
  }

  .flexColChild--imagem-mosaico-left {
    line-height: 0;
  }

  .flexRowContent--area-sobre {
    padding: 0 .3rem;
  }

  .flexCol--category-name {
    min-height: 110px;
  }

  .flexRow--cep-produto :global(.vtex-address-form__postalCode) {
    width: 100% !important;
    margin-bottom: 1rem;
  }

  .flexRow--cep-produto :global(.vtex-store-components-3-x-shippingContainer) {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }

  .flexRow--cep-produto :global(.vtex-input-prefix__group) { 
    width: 100% !important;
  }

}

