@media (max-width: 575px) {

  .sliderRightArrow,
  .sliderLeftArrow {
    display: none !important;
  }

  .sliderLayoutContainer--slidermarcas {
    margin-bottom: 5rem;
  }

  .slideChildrenContainer--dealsmob :global(.vtex-flex-layout-0-x-flexRowContent--controle-flex) {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #D0D0D0;
    border-radius: 20px;
    padding: 1rem;
    display: block;
    align-items: center;
    justify-content: center;
    height: 110px;
    text-align: center;
  }

  .slideChildrenContainer--dealsmob :global(.vtex-flex-layout-0-x-flexRow--controle-flex) {
    margin-right: 10px;
  }

  .paginationDot {
    width: 15px!important;
    height: 3px!important;
    border: unset;
    border-radius: 0px;
    box-shadow: unset;
    background-color: #CFA22B;
    padding: 0;
    margin: 0;
  }

  .paginationDot--isActive {
    width: 15px!important;
    height: 3px!important;
    border: unset;
    border-radius: 0px;
    box-shadow: unset;
    background-color: #CFA22B;
    padding: 0;
}

  .paginationDot:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .paginationDot:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .paginationDotsContainer--mosaico-sup {
    display: none;
  }

  .slide--mosaico-sup {
    padding: 0.5rem;
  }

  .paginationDotsContainer--dealsmob {
    bottom: -2.3rem;
  }

  .slideChildrenContainer :global(.vtex-product-summary-2-x-containerNormal) {
    margin: auto 5px;
  }

  .sliderLayoutContainer--carro-mob {
    margin-bottom: 3rem;
  }

  .paginationDotsContainer--carro-mob {
    bottom: -2.5rem;
  }

  .paginationDotsContainer--shelf {
    bottom: -1.3rem;
  }

}

@media (max-width: 320px) {
  .slideChildrenContainer--dealsmob :global(.vtex-flex-layout-0-x-flexRowContent--controle-flex) {
    padding: 1rem;
    text-align: center;
  }

  .slideChildrenContainer--dealsmob :global(.vtex-flex-layout-0-x-flexRowContent--controle-flex) {
    height: 100px;
  }
}
