.heading--category-name {
  font-size: 28px;
}

@media (max-width: 991px) {

  .paragraph--text-topbar__mobile {
    font-size: 12px;
    color: #fff;
  }

  .headingLevel2--titulo-grid {
    font-size: 14px;
  }

}

@media (max-width: 575px) {
  .paragraph--frete {
    width: 100%
  }

  .container--text-copy {
    justify-content: center;
  }

  .container--deals .paragraph--deals {
    font-size: 12px;
    padding-left: 0;
    width: 75%;
    margin: auto;
  }

  .container--deals .paragraph--deals::before {
    content: '';
    width: 1px;
    height: 50px;
    background: #00000029;
    position: absolute;
    left: -1.3rem;
    top: 2%;
    display: none;
  }

  .wrapper--text-copy .paragraph--text-copy {
    font-size: 12px;
    color: #292929;
  }

  .paragraph--titulo-pagar {
    text-transform: capitalize;
    font-size: 20px;
  }

  .heading--category-name {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 1.5rem;
}

}

@media (max-width: 404px) {
  .container--deals .paragraph--deals {
    font-size: 11px;
  }

}

@media (max-width: 385px) {
  .container--deals .paragraph--deals {
    font-size: 10px;
  }

  .container--deals .paragraph--deals::before {
    content: '';
    width: 1px;
    height: 40px;
    background: #00000029;
    position: absolute;
    left: -1rem;
    top: 2%;
    display: none;
  }

}

@media (max-width: 320px) {
  .container--deals .paragraph--deals {
    font-size: 8px;
  }

  .container--deals .paragraph--deals::before {
    content: '';
    width: 1px;
    height: 38px;
    background: #00000029;
    position: absolute;
    left: -0.8rem;
    top: 1.7%;
    display: none;
  }
}
