@media (max-width: 428px) {
  .sidebarContainer {
    color: #fff;
  }

  .sidebarHeader {
    justify-content: end;
    padding-right: 0;
    color: #fff;
    position: relative;
  }

  .sidebarHeader .closeIcon {
    color: #fff;
    width: 17px;
    position: relative;
  }

  .sidebarHeader::after {
    content: '';
    width: 191px;
    height: 36px;
    position: absolute;
    left: 0rem;
    top: 10px;
    background-image: url(assets/imgs/header/logo-choyer.svg);
    background-repeat: no-repeat;
    background-size: 80%;
  }

  .sidebarItemContainer .plusIcon,
  .sidebarItemContainer .minusIcon {
    color: #fff;
    width: 10px;
  }

  .sidebarContainer .sidebarScrim {
    background-color: #000;
  }
}
