@media (max-width: 575px) {

  .buttonLink :global(.vtex-button) {
    position: relative;
  }

  .buttonLink :global(.vtex-button)::before {
    content: '';
    width: 21px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 5px;
    background-image: url(assets/imgs/header/user-login-choyer.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

}
