@media (max-width: 428px) {

  .searchResultContainer {
    padding-top: 0 !important;
  }

  .orderByButton {
    margin-bottom: 0 !important;
  }
  
  .orderByButton .filterPopupTitle {
    padding-right: .5rem;
  }

  .filterBreadcrumbsText  {
    color: #000;
  }
}