:global(.vtex-product-summary-2-x-productNameContainer) {
  height: 64px;
  overflow: hidden;
}

.nameWrapper--minicart-related-name {
  height: 70px;
}

@media (max-width: 428px) {
  :global(.vtex-product-summary-2-x-productNameContainer) {
    height: 58px;
    overflow: hidden;
  }
}