:global(.lele-contact) {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 2;
  width: auto !important;
}

:global(.lele-contact:hover .text-hover) {
  display: block;
}

:global(.img-lele) {
  position: relative;
  z-index: 2;
}

:global(.text-hover) {
  display: none;
  position: absolute;
  bottom: 0;
  font-size: 13px;
  padding: .8rem .5rem;
  background-color: #E7E7E7;
  text-align: center;
  border-radius: 11px;
  left: 0.5rem;
}

:global(.text-duvidas) {
  color: #292929;
  font-weight: 700;
  margin: 0;
}

:global(.text-lele) {
  font-size: 11px;
  margin: 0;
}
:global(.vtex-sticky-layout-0-x-container--novo-sticky) .portalWrapper--search-elevage .justify-end {
  left: 0;
}
