.buttonDataContainer--pdp {
    padding: 10px;
}

.buttonDataContainer--pdp .buttonText--pdp {
    font-size: 20px;
    text-transform: uppercase !important;
}
.buttonText {
  color: #fff;
}
:global(.vtex-button):disabled .buttonText {
  color: #000;
}
