.flexRowContent--box-deal {
  display: block;
}
.flexRow--deals .stretchChildrenWidth {
  width: auto !important;
  margin: 0;
}
.flexRow--box-deal::before {
  display: none;
}
.flexRowContent--deals {
  justify-content: space-around;
}
