.container--deals .paragraph {
  padding: 0;
  text-align: center;
  margin-top: 5px;
}
.wrapper--link-rastreio .paragraph--text-topbar .link--text-topbar {
  color: #fff;
}
.link--deals {
  color: #202020;
  font-size: 14px;
  text-decoration: inherit;
}

@media(max-width: 575px){
  .link--deals {
    font-size: 12px;
  }

}
@media (max-width: 404px) {
  .link--deals {
    font-size: 11px;
  }

}
@media(max-width: 385px){
  .link--deals {
    font-size: 10px;
  }
}

@media(max-width: 320px){
  .link--deals {
    font-size: 8px;
  }
}
