.imageElement--pop-efeito {
  position: relative;
}
.imageElement--semefeito {
  height: 100%;
}
:global(.vtex-flex-layout-0-x-flexCol--imagem-mosaico-maquina) .imageElement--semefeito {
  height: auto;
}
