@media (max-width: 991px) {
  .newsletterForm {
    display: block !important;
  }
  .nameInputContainer {
    margin-right: 0 !important;
    margin-bottom: 5px;
  }
  .emailInputContainer {
    width: 100% !important;
  }
  :global(.vtex-store-newsletter-1-x-formSubmitContainer) :global(.vtex-button){
    width: 100%;
  }
  :global(.vtex-store-newsletter-1-x-formSubmitContainer) {
    margin-top: 5px;
  }
  :global(.vtex-store-newsletter-1-x-formSubmitContainer) :global(.vtex-button__label) {
    width: auto;
  }
}
