/* Style */

:global(.vtex-product-summary-2-x-container) :global(.precoPixBoleto) {
  color: #292929;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.45rem auto;
}

:global(.vtex-product-summary-2-x-container) :global(.precoPixBoleto) :global(.precoAvista) {
  font-size: 18px;
  font-weight: 400;
}

:global(.vtex-flex-layout-0-x-flexCol--sliding-down) :global(.precoPixBoleto) {
  color: #292929;
  font-size: 25px;
  font-weight: 700;
  display: flex;
  align-items: baseline;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

:global(.vtex-flex-layout-0-x-flexCol--sliding-down) :global(.precoPixBoleto) :global(.precoAvista) {
  font-size: 18px;
  font-weight: 400;
  margin-left: 0.5rem;
}

:global(.vtex-flex-layout-0-x-flexColChild--right-col-mobi) :global(.precoPixBoleto) {
  color: #292929;
  font-size: 25px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

:global(.vtex-flex-layout-0-x-flexColChild--right-col-mobi) :global(.precoPixBoleto) :global(.precoAvista) {
  font-size: 18px;
  font-weight: 400;
}


