.flexCol--wishlist-menu-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  right: 1.3rem;
}

@media (max-width: 768px) {
  .flexCol--wishlist-menu-wrapper {
    right: 0;
  }
}